header {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    background-color: aliceblue;
}

.selectSection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-all {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border: 2px solid rgb(1, 39, 177);
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    background-color:rgb(1, 39, 177);
    color: #fff;
}

.btn-all:hover {
    background-color: rgb(112, 139, 233);
}

.btn-doing {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border: 2px solid rgb(1, 122, 177);
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    background-color:rgb(1, 122, 177);
    color: #fff;
}

.btn-doing:hover {
    background-color: rgb(112, 139, 233);
}

.btn-done {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border: 2px solid rgb(17, 178, 252);
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    background-color:rgb(17, 178, 252);
    color: #fff;
}

.btn-done:hover {
    background-color: rgb(112, 139, 233);
}

.inputSection {
    display: flex;
    justify-content: center;
}

.inputTxt {
    font-size: 15px;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 5px;
}

#addBtn {
    border: 2px solid rgb(160, 207, 248);
    border-radius: 5px;;
    background-color: rgb(160, 207, 248);
}

#addBtn:hover {
    background-color: rgb(1, 122, 177);
}

.todo-list {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    overflow: auto;
    font-size: 15px;
    background-color: rgb(204, 247, 252);
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    margin-right: 20px;
    border: 1px solid rgb(1, 39, 177);
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: rgb(171, 244, 255);
}

.listLb {
    width: 90%;
    display: inline-block;
    cursor: pointer;
}

.delBtn {
    width: 10%;
    display: inline-block;
    text-align: end;
    background-color: transparent;
    font-size: 13px;
    border: 2px solid rgb(249, 39, 91);
    border-radius: 3px;
    background-color:rgb(249, 39, 91)
}

.delBtn:hover {
    background-color: rgb(208, 0, 52);
}